body {
  font-family: "Nunito", sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  box-shadow: 0 8px 6px -6px #1D1D1D;
  height: 70px;
}

.nav-link:hover {
  /* margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px; */
  border-bottom: 2px solid #fff;
  font-weight: bold;
}

#call-to-action-call-to-action-2 .btn {
  margin-right: 70px;
  margin-left: 70px;
}

/* calendar */
.clearfix::after,
.calendar ol::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* ================
Calendar Styling */
.calendar {
  border-radius: 10px;
}

.month {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .month {
    font-size: 3.5rem;
  }
}

.calendar ol li {
  float: left;
  width: 14.28571%;
}

.calendar .day-names {
  border-bottom: 1px solid #eee;
}

.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.calendar .days li {
  border-bottom: 1px solid #eee;
  min-height: 8rem;
}

.calendar .days li .date {
  margin: 0.5rem 0;
}

.calendar .days li .event {
  font-size: 0.75rem;
  padding: 0.4rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4rem;
  margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
  width: 200%;
}

.calendar .days li .event.begin {
  border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
  border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
  background: none;
}

.calendar .days li:nth-child(n+29) {
  border-bottom: none;
}

.calendar .days li.outside .date {
  color: #ddd;
}
/* body {
  min-height: 100vh;
  background-color: #3ca55c;
  background-image: linear-gradient(147deg, #3ca55c 0%, #b5ac49 100%);
} */


