body {
  font-family: "Nunito", sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  box-shadow: 0 8px 6px -6px #1D1D1D;
  height: 70px;
}

.nav-link:hover {
  /* margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px; */
  border-bottom: 2px solid #fff;
  font-weight: bold;
}

.btn {
  margin-right: 70px;
  margin-left: 70px;
}


