$purple: rgb(49, 46, 129);

.cta-btn {
  font-size: 18px;
  font-weight: bold;
  background-color: $purple;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  //   text-transform: uppercase;
  color: whitesmoke;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba($purple, $alpha: 0.3);
  border: 3px solid rgba($color: #ccc, $alpha: 0);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform, border;
  transition-property: box-shadow, transform, border;
}

.cta-btn:hover,
.cta-btn:focus,
.cta-btn:active {
  border: 3px solid rgba($color: #ccc, $alpha: 0);
  box-shadow: 0 0 20px rgba($purple, $alpha: 0.4);
  color: whitesmoke;
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}

.cta-btn:focus {
  border: 3px solid rgba($color: whitesmoke, $alpha: 0.5);
  box-shadow: 0 0 12px rgba($purple, $alpha: 0.3);
  color: whitesmoke;
  -webkit-transform: scale(1);
  transform: scale(1);
}


