$purple: rgb(49, 46, 129);
$darkPurple: #20082b;

// change the theme
$theme-colors: (
  "primary": $purple,
  "danger": #ff4136,
);
$primary: $purple;

.purple {
  background-color: $darkPurple;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
