$purple: rgb(49, 46, 129);

// change the theme
$theme-colors: (
  "primary": $purple,
  "danger": #ff4136,
);
$primary: $purple;


// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";